<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="cus.webApi" type="Cus.WebApi.Configuration.ApiConfigurationSection,Cus.WebApi"/>
  </configSections>
  <cus.webApi>
    <!--<authetication name="SSO" type="Beyondbit.Cus.WebApi.Authetication.SSOImpl,Beyondbit.Cus.WebApi.Authetication" />-->
  </cus.webApi>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>